<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{grapheme}} - {{variant-name}}</title>
  <link rel="shortcut icon" href="#">
  {% render 'static-styles.liquid' %}
</head>
<body>
  <main>
    <h1>{{grapheme}} - {{variant-name}}</h1>
    <section class="variant-definition">
      <dl>
        <dt>Script</dt>
        <dd>{{scriptLabel}}</dd>
        <dt>Grapheme</dt>
        <dd>{{grapheme}}</dd>
        <dt>Allograph</dt>
        <dd>{{variant-name}}</dd>
        <dt>Characteristic form:</dt>
        <dd>
          <ul>
            {%- for cf in component-features %}
              <li class="{% if not cf.inheritedFrom %}not-inherited{% endif %}">{{ cf.label }}</li>
            {%- endfor -%}
          </ul>
        </dd>
      </dl>
    </section>
    <section>
      <h2>Typology</h2>
      <p><a href="all.html#{{variant-key | url_encode}}">Full typology of allographs</a></p>
      {% if rulesGeneral[0] -%}
        <h3>More general types</h3>
        {% for rule in rulesGeneral -%}
          <a href="{{ script }}-{{ allograph | url_encode }}-{{ rule['variant-name'] | url_encode }}.html">{{ rule['variant-name'] }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor -%}
      {%- endif -%}
      {%- if rulesSpecific[0] -%}
        <h3>More specific types</h3>
        {% for rule in rulesSpecific -%}
          <a href="{{ script }}-{{ allograph | url_encode }}-{{ rule['variant-name'] | url_encode }}.html">{{ rule['variant-name'] }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor -%}
      {%- endif -%}
    </section>
    <section>
      <h2>Exemplar</h2>
      {% if thumbInfo -%}
        <figure>
          <img 
            src="../../thumbs/{{ variant-key | url_encode }}.jpg"
            alt="A close-up of an instance of allograph {{ grapheme }} {{ variant-name }} inscribed on object {{ thumbInfo.docId }}"
          >
          <figcaption>
            <a class="external" href="{{thumbInfo.linkInscription}}">Inscription {{ thumbInfo.docId }}</a>.
            <br>
            Origin: {{ thumbInfo.place }}
            <br>
            {{ thumbInfo.displayDateRange }}
          </figcaption>
        </figure>
      {%- else -%}
        <p>
          <img alt="A close-up of an instance of allograph {{ grapheme }} {{ variant-name }} inscribed on an object" src="../../thumbs/{{ variant-key }}.jpg">
        </p>
      {%- endif %}
      <p>
        <a href="{{examples-url}}">Other examples</a>
      </p>
    </section>
  </main>
  {% render 'footer.liquid', links: links %}
</body>
</html>
