<!DOCTYPE html>
<html lang="en">
<!-- THIS IS A LIQUID TEMPLATE -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Variants Tree</title>
  {% render 'static-styles.liquid' %}
</head>
<body>
  <h1>Allograph variants</h1>
  <div class="tree" role="tree">
      {% for scriptAllograph in tree %}
        {% assign script = scriptAllograph[0] %}
        {% assign allographs = scriptAllograph[1] %}
        <details id="{{ script }}" open>
          <summary>{{ script }}</summary>
          <ul role="group">
            {% for allographVariants in allographs %}
              {% assign allograph = allographVariants[0] %}
              {% assign variantList = allographVariants[1] %}
              <li role="treeitem">
                <details id="{{ script }}-{{ allograph }}" open>
                  <summary>{{ allograph }}</summary>
                  <ul role="group">
                    {% render 'allo-type-tree-variants.liquid', variantList: variantList, allograph: allograph, script: script %}
                  </ul>
                </details>
              </li>
            {% endfor %}
          </ul>
        </details>
      {% endfor %}
    </div>
  {% render 'footer.liquid' %%}
</body>
</html>