<!DOCTYPE html>
<html lang="en">
<!-- THIS IS A LIQUID TEMPLATE -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Variants Tree</title>
  {% render 'static-styles.liquid' %}
</head>
<body>
  <h1>Allograph variants</h1>
  <div class="tree" role="tree">
    {% for scriptAllograph in tree %}
      {% assign script = scriptAllograph[0] %}
      {% assign allographs = scriptAllograph[1] %}
      <input type="checkbox" id="{{ script }}" checked aria-expanded="true" />
      <label for="{{ script }}">{{ script }}</label>
      <ul role="group">
        {% for allographVariants in allographs %}
          {% assign allograph = allographVariants[0] %}
          {% assign variantList = allographVariants[1] %}
          <li role="treeitem">
            <input type="checkbox" id="{{ script }}-{{ allograph }}" checked aria-expanded="true" />
            <label for="{{ script }}-{{ allograph }}">{{ allograph }}</label>
            <ul role="group">
              {% render 'allo-type-tree-variants.liquid', variantList: variantList, allograph: allograph, script: script %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  {% render 'footer.liquid' %%}
</body>
</html>