{% for variant in variantList %}
  <li role="treeitem">
    <details id="{{ script }}-{{ allograph }}-{{ variant['variant-name'] }}" open>
      <summary>{{ variant['variant-name'] }} (<a href="{{ script }}-{{ allograph }}-{{ variant['variant-name'] }}.html">page</a>)</summary>
      Description:
      <ul class="features">
        {% for componentFeature in variant['component-features'] %}
          {% if componentFeature['inherited-from'] == variant['variant-name'] %}
            <li>{{ componentFeature.component }} is {{ componentFeature.feature }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      {% if variant.children %}
        <ul role="group">{% render 'allo-type-tree-variants.liquid', variantList: variant.children, allograph: allograph, script: script %}</ul>
      {% endif %}
    </details>
  </li>
{% endfor %}
